@using SchoolApplication.Models.ViewModels
@model RegistererLoginViewModel
<br>
<br>
<h2 style="color:#cf9e5d;">Registerer Login</h2>
<hr />
<form asp-action="RegistererLogin" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label style ="color:bisque;margin-bottom:5px;" asp-for="UserName">Username</label>
        <input type="text" class="form-control" asp-for="UserName" required/>
        <span asp-validation-for="UserName" class="text-danger"></span>

    </div>
    <div style="width:fit-content;height:10px;"></div>
    <div class="form-group">
        <label style="color:bisque;margin-bottom:5px;" asp-for="Password">Password</label>
        <div class="input-group">
            <input asp-for="Password" type="password" class="form-control" id="passwordInput" required />
            <div class="input-group-append">
                <button style="border-color:#7c5a2c;background-color:#30115e;box-shadow:2px 2px 2px inherit;margin:0;" class="btn btn-outline-secondary " type="button" id="showPasswordButton">
                    <i class="bi bi-eye-slash"></i>
                </button>
            </div>
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    
    <div style="color:bisque;margin-top:20px">
        <button type="submit" class="btn btn-primary" style="border-radius:5px;margin:auto;color:bisque;">Login</button>

    </div>

</form>

@section Scripts{

    <partial name="_ValidationScriptsPartial" />

}

<script>
    const passwordInput = document.getElementById('passwordInput');
    const showPasswordButton = document.getElementById('showPasswordButton');

    showPasswordButton.addEventListener('click', function (event) {
        event.preventDefault();
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
        } else {
            passwordInput.type = 'password';
        }
    });
</script>
