@model Student

<br>
<br>
<h2 style="color:#cf9e5d;">Remove Student</h2>
<hr />



<form asp-action="Delete" method="post">
    <input asp-for="Id" hidden/>

    <div class="form-group">
        <label style="color:bisque;margin-bottom:5px;" asp-for="Name" class="form-label">Student Name</label>
        <input asp-for="Name" class="form-control" disabled />
        
    </div>

    <div style="width:fit-content;height:10px;"></div>

    <div class="form-group">
        <label style="color:bisque;margin-bottom:5px;" asp-for="Department" class="form-label">Student Department</label>
        <select asp-for="Department" class="form-select" disabled>
            <option value="0" class="form-control">Machine Engineering</option>
            <option value="1" class="form-control">Electrical Engineering</option>
            <option value="2" class="form-control">Computer Science</option>
            <option value="3" class="form-control">Chemical Engineering</option>
            <option value="4" class="form-control">Industrial Engineering</option>
            <option value="5" class="form-control">Medicine</option>
            <option value="6" class="form-control">Psychology</option>
            <option value="7" class="form-control">Media and Design</option>
            <option value="8" class="form-control">Economy</option>
            <option value="9" class="form-control">Bussiness</option>
        </select>
    </div>
    <div style="width:fit-content;height:10px;"></div>
   
    <div class="form-group">
        <label style="color:bisque;margin-bottom:5px;" asp-for="Phone">Phone</label>
        <input asp-for="Phone" class="form-control" type="tel" disabled />
        
    </div>
    <div style="width:fit-content;height:10px;"></div>
    <div class="form-group">
        <label style="color:bisque;margin-bottom:5px;" asp-for="Discount">Discount Number</label>
        <input asp-for="Discount" class="form-control" type="number"  step="5" min="0" max="100" disabled />
        
    </div>
    <div style="margin-top:20px;space-between;">
        @* <button type="submit"
                class="btn btn-primary"
                style="border-radius:5px;margin:auto;color:bisque">
            Delete
        </button> *@
        <button type="button" class="btn btn-primary" style="border-radius: 5px; margin-left: 10px; color: bisque;" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" >
            Delete
        </button>
        <a asp-controller="Student" asp-action="Index" style="border-radius:5px;margin-left:10px;color:bisque;background-color:#707070;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);" class="btn">Back To List</a>
    </div>

    <partial name="_DeleteConfirmation" />

</form>



<style>
    /* Apply styles to labels on hover */
    .form-group input:hover {
        background-color: #420d65 !important; /* Change this to your desired hover color */
    }

    .form-group select:hover {
        background-color: #420d65 !important;
    }

    .form-select option:hover {
        background-color: #420d65 !important;
    }

</style>

@* <script>
    // Get a reference to the "Delete" button and the modal
    var deleteButton = document.getElementById("deleteButton");
    var modal = document.getElementById("confirmDeleteModal");

    // Add a click event listener to the "Delete" button
    deleteButton.addEventListener("click", function () {
        // Show the modal
        modal.style.display = "block";

        // You may also need to add some JavaScript to handle modal dismissal
        // For example, when the modal is closed using the "Close" button
        var closeButton = modal.querySelector(".close");
        closeButton.addEventListener("click", function () {
            modal.style.display = "none";
        });
    });
</script> *@



@section Scripts{

    <partial name="_ValidationScriptsPartial" />

}