@model EmailVerifyViewModel

<br>
<br>
@if (Model.userrole == "Teacher")
{
    <h2 style="color:#cf9e5d;"> Teacher Login </h2>
}
@if (Model.userrole == "Student")
{
    <h2 style="color:#cf9e5d;"> Student Login </h2>
}
@if (Model.userrole == "Registerer")
{
    <h2 style="color:#cf9e5d;"> Registerer Login </h2>
}

<hr />


<form asp-action="ChangePassword" method="post">
    <input asp-for="userrole" hidden/>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label style="color:bisque;margin-bottom:5px;" asp-for="email">Email</label>
        <input  type="text" asp-for="email" class="form-control" required />
        <span asp-validation-for="email" class="text-danger"></span>
    </div>

    <div style="margin-top:20px;">
        <button type="submit"
                class="btn btn-primary"
                style="border-radius:5px;margin:auto;color:bisque">
            Verify
        </button>
        <a asp-controller="Home" asp-action="Index" style="border-radius:5px;margin-left:10px;color:bisque;background-color:#707070;" class="btn">Back To Home Page</a>
    </div>


</form>
