<br>
<h3 style="color:bisque;text-align:center;">Token For Admin</h3>
<hr />
<br>
<form asp-action="Index" asp-controller="SetUp" method="get">
    <div class="form-group">
        <label style="margin-bottom:10px;" for="token">Token For SetUp</label>
        <input  class="form-control" type="text" id="token" name="token" minlength="10" required />
    </div>
    <button type="submit" class="btn btn-warning" style="border-radius:10px;margin-top:20px;margin-left:47%;box-shadow:3px 3px 3px inherit;">Submit</button>

</form>